/* font-styles */

$base-font-size: 12px;
$base-line-height: 22px;
$base-font-weight: 400;
$base-font-family: "Montserrat";

/* colors */

$blue: #2C78F6;
$gray: #30353E;
$light-gray: #909AAB;
$middle-gray: #61656B;
$white: #ffffff;
$black: #000000;
$background-color: #e5e5e5;
