.btn {
	display: block;
	margin: 0;
	padding: 0;
	width: 144px;
	height: 43px;
	background-color: $blue;
	border: none;
	border-radius: 3px;
	color: $white;
	font-size: 11px;
	line-height: 22px;
	text-transform: uppercase;
	font-weight: 700;
}

@media (min-width: 1366px) {
	.btn {
		height: 45px;
		color: #a4aab3;
		background-color: #eaecef;
	}
}

@media (min-width: 1920px) {
	.btn {
		width: 185px;
		height: 57px;
		font-size: 12px;
	}
}
