.container {
	margin: 0 auto;
	width: 375px;
	background-color: $white;
}

@media (min-width: 1024px) {
	.container {
		width: 1024px;
	}
}

@media (min-width: 1366px) {
	.container {
		width: 1366px;
	}
}

@media (min-width: 1440px) {
	.container {
		width: 1440px;
	}
}

@media (min-width: 1920px) {
  .container {
  	width: 1920px;
  }
}
