@media (min-width: 1024px) {
	

  .form-block__button-wrap {
  	justify-content: flex-start;
  	margin-bottom: 34px;
  	width: 100%;
  }

  .form-block__button {
  	margin-right: 45px;
  }
}

@media (min-width: 1366px) {
  .form-block__step {
  	font-size: 12px;
  	line-height: 38px;
    letter-spacing: 2px;
  }

  .form-block__step pre {
  	margin: 0;
  	font-family: "Montserrat";
  }

  .form-block__button-wrap {
  	margin-bottom: 44px;
  }

  .form-block__button {
  	margin-right: 59px;
  	padding-top: 78px;
  	width: 200px;
  	height: 142px;
  	font-size: 14px;
  	line-height: 22px;
  	background-position: center 32px;

  	&:last-of-type {
  		margin-right: 0;
  	}
  }

  .form-block__button--school {
  	background-size: 40px 40px;
  }

  .form-block__button--student {
  	background-size: 44px 40px;
  }
}

@media (min-width: 1920px) {
	.form-block__step {
		font-size: 14px;
	}

	.form-block__button-wrap {
		margin-bottom: 70px;
	}

	.form-block__button {
		margin-right: 64px;
		padding-top: 95px;
		width: 245px;
		height: 200px;
		font-size: 18px;
		background-position: center 47px;
	}

	.form-block__button--school {
  	background-size: 60px 60px;
  }

  .form-block__button--student {
  	background-size: 66px 60px;
  }
}
