.form-submit .form__field-wrap--file {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 32px;
	padding-right: 5px;
}

.form-submit label[for="file"] {
	position: relative;
	padding-top: 78px;
	width: 126px;
	height: 48px;
	text-align: center;
	font-size: 9px;
	line-height: 19px;
	color: #b8d2fc;
	text-transform: uppercase;
	border-radius: 20px;
	background-color: $white;

	&::before {
		content: "";
		position: absolute;
		left: 50%;
		top: 28px;
		width: 45px;
		height: 45px;
		transform: translate(-50%);
		background-image: url("../img/photo-camera-icon.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 45px 36px;
	}
}

.form-submit input[type="file"] {
	display: none;
}

.form-submit input:not[type="submit"] {
	padding-top: 9px;
}

.form-submit .form__input-file-comment {
	margin-top: 10px;
	width: 153px;
	font-size: 11px;
	line-height: 18px;
	color: $middle-gray;
}

.form-submit .form__input-file-comment p {
	margin-bottom: 23px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.form-submit input[type="submit"] {
	margin-top: 71px;
	color: #a4aab3;
	background-color: #eaecef;
}

@media (min-width: 1024px) {
	.form-submit {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto auto auto auto;
	}

	.form-submit label[for="file"] {
		margin-right: 39px;
		margin-bottom: 0;
	}

	.form-submit .form__field-wrap--file {
  	grid-column-start: 1;
  	grid-column-end: 1;
  	grid-row-start: 1;
  	grid-row-end: 1;
  	justify-content: flex-start;
  	margin-bottom: 21px;
  	padding-right: 0;
  }

  .form-submit .form__field-wrap--name {
  	grid-column-start: 1;
  	grid-column-end: 1;
  	grid-row-start: 2;
  	grid-row-end: 2;
  }

  .form-submit .form__field-wrap--occupation {
  	grid-column-start: 1;
  	grid-column-end: 1;
  	grid-row-start: 3;
  	grid-row-end: 3;
  }

  .form-submit .form__field-wrap--city {
  	grid-column-start: 1;
  	grid-column-end: 1;
  	grid-row-start: 4;
  	grid-row-end: 4;
  	margin-bottom: 42px;
  }

  .form-submit .btn[type="submit"] {
  	margin: 0;
  }
}

@media (min-width: 1366px) {
	.form-submit label[for="file"] {
		padding-top: 80px;
		height: 46px;

		&::before {
			width: 52px;
			height: 52px;
			background-size: 52px 42px;
		}
	}

	.form-submit .form__field-wrap {
	  margin-bottom: 27px;
  }

  .form-submit .form__field-wrap--file {
  	margin-bottom: 22px;
  }

  .form-submit .form__field-wrap--city {
  	margin-bottom: 42px;
  }

  .form-submit .form__input-file-comment {
  	margin: 0;
  	width: 236px;
  }

  .form-submit .form__input-file-comment p {
	  margin-bottom: 31px;
  }
}

@media (min-width: 1920px) {
	.form-submit .form__field-wrap {
	  margin-bottom: 46px;
  }

  .form-submit label[for="file"] {
  	margin-right: 47px;
  	padding-top: 96px;
  	width: 156px;
  	height: 60px;

  	&::before {
  		top: 41px;
  	}
  }

  .form-submit .form__input-file-comment {
  	margin-bottom: 15px;
  	font-size: 14px;
  	line-height: 22px;
  }

  .form-submit .form__input-file-comment p {
  	margin-bottom: 26px;
  }

  .form-submit .form__field-wrap--file {
  	margin-bottom: 36px;
  }

  .form-submit .form__field-wrap--city { 
  	margin-bottom: 67px;
  }
}
