.form-login {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	align-items: center;
}

.form-login .form__field-wrap--radio-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	margin-bottom: 62px;
	width: 259px;
}

.form-login label[for="school"],
.form-login label[for="student"] {
	display: inline-block;
	margin-bottom: 0;
	width: 112px;
	border-radius: 6px;
	font-size: 12px;
	color: $gray;
	text-align: center;
	background-color: $white;
	border: 2px solid $blue;
	background-repeat: no-repeat;
}

.form-login label[for="school"] {
  padding-top: 58px;
	padding-bottom: 18px;
	line-height: 14px;
	background-image: url("../img/school-icon-blue.svg");
	background-position: center 19px;
}

.form-login label[for="student"] {
  padding-top: 65px;
	padding-bottom: 20px;
	line-height: 22px;
	background-image: url("../img/students-icon-blue.svg");
	background-position: center 20px;
}

.form-login input[value="school"]:checked + label {
	background-color: $blue;
	color: $white;
	background-image: url("../img/school-icon-white.svg");
	box-shadow: 0 20px 54px rgba(0, 83, 221, 0.4);
}

.form-login input[value="student"]:checked + label {
	background-color: $blue;
	color: $white;
	background-image: url("../img/students-icon-white.svg");
	box-shadow: 0 20px 54px rgba(0, 83, 221, 0.4);
}

.form-login input[type="radio"] {
	display: none;
}

.form-login .form__field-wrap--phone {
	position: relative;

  &::before {
	content: "";
    position: absolute;
    bottom: 13px;
    right: 9px;
    width: 5px;
    height: 2px;
    background-color: #45C781;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 15px;
    right: 0;
    width: 12px;
    height: 2px;
    background-color: #45C781;
    transform: rotate(-45deg);
  }
}

.form-login__add-phone-button {
	justify-self: start;
	margin: 0;
	margin-bottom: 26px;
	padding: 0;
	text-decoration: underline;
	color: $blue;
	font-size: 12px;
	line-height: 22px;
	border: none;
	background-color: transparent;
}

.form-login .form__login-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 122px;
	padding-left: 5px;
	color: $middle-gray;
}

.form-login .form__login-block button {
	position: relative;
	margin: 0;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 52px;
	padding-right: 0;
	font-size: 14px;
	line-height: 22px;
	color: #424242;
	text-decoration: underline;
	border: none;
	background-color: transparent;

	&::before {
		content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-image: url("../img/tooth-icon.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 24px 17px;
		box-shadow: 0 0 17px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 1024px) {
	.form-login .form__field-wrap--radio-buttons {
  	justify-content: flex-start;
  	margin-bottom: 34px;
  	width: 100%;
  }

  .form-login label[for="school"] {
  	margin-right: 45px;
  }

  .form-login .form__login-block {
  	justify-content: flex-start;
  	margin-bottom: 100px;
  }

  .form-login .form__login-block p {
  	margin-right: 20px;
  }
}

@media (min-width: 1366px) {
	.form-login .form__field-wrap--radio-buttons {
  	margin-bottom: 44px;
  }

  .form-login label[for="school"],
  .form-login label[for="student"] {
  	padding-top: 100px;
  	padding-bottom: 20px;
  	width: 200px;
  	height: 80px;
  	font-size: 14px;
  	line-height: 22px;
  	background-position: center 40px;
  }

  .form-login label[for="school"] {
  	margin-right: 59px;
  	background-size: 50px 50px;
  }

  .form-login label[for="student"] {
  	background-size: 55px 50px;
  }

	.form-login__add-phone-button {
		margin-bottom: 41px;
	}

  .form-login .form__login-block {
  	margin-bottom: 36px;
  }

  .form-login__btn-wrap {
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  }
}

@media (min-width: 1920px) {
	.form__step {
		font-size: 14px;
	}

	.form-login .form__field-wrap--radio-buttons {
		margin-bottom: 70px;
	}

	.form-login label[for="school"],
  .form-login label[for="student"] {
		padding-top: 135px;
		width: 245px;
		height: 90px;
		font-size: 18px;
		background-position: center 55px;
	}

	.form-login label[for="school"] {
		margin-right: 64px;
  	background-size: 60px 60px;
  }

  .form-login label[for="student"] {
  	background-size: 66px 60px;
  }

	.form-login__add-phone-button {
		margin-bottom: 25px;
	}

	.form-login .form__login-block {
  	margin-bottom: 43px;
  }

  .form-login .form__login-block p {
  	margin-right: 30px;
  	font-size: 14px;
  }

  .form-login .form__login-block button {
  	padding-left: 57px;
  	font-size: 16px;

  	&::before {
  		width: 45px;
  		height: 45px;
  		background-size: 28px 20px;
  	}
  }
}