::-webkit-input-placeholder {
  @include font-base(16px, 22px);
  color: #c4c4c4;
}

::-moz-placeholder {
  @include font-base(16px, 22px);
  color: #c4c4c4;
 }/* Firefox 19+ */

:-moz-placeholder {
  @include font-base(16px, 22px);
  color: #c4c4c4;
 }/* Firefox 18- */

:-ms-input-placeholder {
  @include font-base(16px, 22px);
  color: #c4c4c4;
}

.form__field-wrap {
	display: flex;
	flex-direction: column;
}

.form label {
	display: inline-block;
  font-size: 10px;
  line-height: 22px;
  color: $middle-gray;
}

.form input:not(.btn) {
	padding-bottom: 10px;
	padding-top: 8px;
	border: none;
	border-bottom: 1px solid $middle-gray;
	background-color: #f8fafd;
}

.form input[type="reset"] {
	display: none;
}

.form input[type="submit"] {
	margin-left: auto;
}

@media (min-width: 1366px) {
	.form__field-wrap {
		width: 655px;
	}

	.form label {
		margin-bottom: 8px;
		font-size: 12px;
		font-weight: 500;
	}

	.form input:not(.btn) {
		padding-top: 6px;
		width: 655px;
	}

  .form input[type="reset"] {
	  display: block;
  }
}

