.greeting {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.greeting__title {
	margin-bottom: 2px;
	text-align: center;
	color: $blue;
}

.greeting__mobile {
	margin-bottom: 42px;
	text-align: center;
	color: $light-gray;
	font-size: 16px;
	line-height: 19px;
}

.greeting__adaptive {
	display: none;
}

.greeting__picture {
	margin-bottom: 25px;
	width: 375px;
	height: 364px;
}

.greeting__btn {
	margin-left: auto;
	margin-right: 36px;
}

@media (min-width: 1366px) {
	.greeting {
		padding-bottom: 0;
		height: 100%;
	}

	.greeting__btn {
		display: none;
	}

	.greeting__title {
		margin-bottom: 18px;
		margin-left: 58px;
		text-align: left;
	}

	.greeting__adaptive {
		display: block;
		margin-left: 56px;
		margin-bottom: auto;
		width: 255px;
		font-size: 14px;
		line-height: 18px;
		text-align: left;
	}

  .greeting__mobile {
	  display: none;
  }

  .greeting__picture {
  	margin-bottom: 0;
  	width: 462px;
  	height: 416px;
  }
}

@media (min-width: 1920px) {
	.greeting {
		width: 651px;
	}

	.greeting__title {
		margin-bottom: 21px;
		text-align: left;
		margin-left: 96px;
	}

	.greeting__adaptive {
		margin-bottom: 28px;
		margin-left: 94px;
		width: 408px;
		font-size: 18px;
		line-height: 22px;
		text-align: left;
	}

	.greeting__picture {
		margin-top: auto;
		width: 772px;
		height: 694px;
	}
}
