.main-header input::-webkit-input-placeholder {
  font-size: 0;
}

.main-header input::-moz-placeholder {
  font-size: 0;
 }/* Firefox 19+ */

.main-header input:-moz-placeholder {
  font-size: 0;
 }/* Firefox 18- */

.main-header input:-ms-input-placeholder {
  font-size: 0;
}

.main-header {
	display: flex;
	justify-content: space-between;
	padding: 13px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
}

.main-header__logo {
	padding: 2px;
	width: 114px;
	height: 22px;
}

.main-header__logo img {
	width: 114px;
	height: 22px;
}

.main-header__search {
	position: relative;
	margin-left: auto;
	width: 23px;
	height: 23px;

	&::before {
		content: "";
		position: absolute;
		top: 2px;
		right: 0;
		width: 23px;
	  height: 23px;
		background-image: url("../img/search-icon.svg");
		background-repeat: no-repeat;
		background-size: 23px 23px;
		background-position: center;
	}
}

.main-header__search input {
	display: none;
}

.main-header__user-block {
	position: relative;
	margin-left: 23px;
  width: 24px;
  height: 24px;

  &::before {
  	content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 24px;
		height: 24px;
		background-image: url("../img/user-icon.svg");
		background-repeat: no-repeat;
		background-size: 24px 24px;
		background-position: center;
  }
}

.main-header__user-block span {
  font-size: 0;
}

@media (min-width: 1366px) {
	.main-header {
		padding: 16px 60px;
	}

	.main-header__logo {
		margin-top: 10px;
	}

	.main-header__search input::-webkit-input-placeholder {
	  font-size: 13px;
	  line-height: 22px;
	  font-weight: 500;
	  color: $light-gray;
  }

	.main-header__search input::-moz-placeholder {
	  font-size: 13px;
	  line-height: 22px;
	  font-weight: 500;
	  color: $light-gray;
	 }/* Firefox 19+ */

	.main-header__search input:-moz-placeholder {
	  font-size: 13px;
	  line-height: 22px;
	  font-weight: 500;
	  color: $light-gray;
	 }/* Firefox 18- */

	.main-header__search input:-ms-input-placeholder {
	  font-size: 13px;
	  line-height: 22px;
	  font-weight: 500;
	  color: $light-gray;
	}

	.main-header__search {
		margin: 0;
		width: 513px;
		height: 38px;

		&::before {
		top: 50%;
		left: 10px;
		width: 17px;
	  height: 17px;
		background-image: url("../img/search-icon-desktop.svg");
		background-repeat: no-repeat;
		background-size: 17px 17px;
		background-position: center;
		transform: translate(0%, -50%);
	  }
	}

	.main-header__search input {
	  display: block;
	  padding-left: 40px;
	  width: 513px;
	  height: 38px;
	  border: 1px solid #eaecef;
	  border-radius: 5px;
	}

	.main-header__user-block {
		margin-top: 2px;
	  width: 35px;
	  height: 35px;

	  &::before {
			width: 35px;
			height: 35px;
			background-size: 33px 33px;
	  }
  }
}
