.slider-paginator {
	position: absolute;
	bottom: 27px;
	left: 50%;
	width: 305px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	transform: translate(-50%);
	z-index: 100;
}

.slider-paginator__list {
	@include list-style;
	padding-bottom: 3px;
	display: flex;
}

.slider-paginator__item {
	margin-right: 8px;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 30px;
	background-color: rgba(44, 120, 246, 0.6);

	&:last-of-type {
		margin-right: 0;
	}
}

.slider-paginator__item--strange-unknowing-blue-point {
	position: relative;
	margin-right: 24px;

  &::before {
	content: "";
	position: absolute;
	right: -16px;
	top: 0;
	width: 8px;
	height: 8px;
	border-radius: 30px;
	background-color: rgba(44, 120, 246, 0.6);
  }
}

.slider-paginator__item--active {
  width: 24px;
  height: 8px;
  background-color: $blue;
  border-radius: 30px;
}

@media (min-width: 1024px) {
	.slider-paginator {
		display: none;
	}
}
