.slider {
	background-color: #f8fafd;
	padding-bottom: 26px;
}

.slider__list {
  @include list-style;
}

.slider__item {
  display: none;
  padding: 20px 34px;
  padding-bottom: 0;
}

.slider__item--shown {
  display: block;
}

.slider__item--submit .slider__item-title {
	margin-bottom: 27px;
}

@media (min-width: 1366px) {
	.slider {
		grid-column-start: 2;
		grid-column-end: -1;
		padding-right: 258px;
		padding-left: 94px;
	}

  .slider__item--login {
  	display: block;
  }

  .slider__control {
  	display: none;
  }
}

