.slider {
	background-color: #f8fafd;
}

.slider__list {
  @include list-style;
}

.slider__item {
  display: none;
  padding: 20px 36px;
  padding-bottom: 26px;
  background-color: #f8fafd;
}

.slider__item--greeting {
	padding: 0;
	padding-top: 38px;
	padding-bottom: 26px;
	background-color: $white;
}

.slider__item--submit {
	padding-top: 23px;
}

.slider__item--submit .slider__item-title {
	margin-bottom: 24px;
}

.slider__item--shown {
  display: block;
}

.slider__item--closed {
  display: none;
}

@media (min-width: 1024px) {
  .slider__list {
		display: grid;
		grid-template-columns: 359px auto;
		grid-template-rows: auto;
	}

	.slider__item {
		padding-right: 105px;
		padding-left: 60px;
		padding-top: 30px;
		padding-bottom: 53px;
	}

	.slider__item--greeting {
		position: static;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 1;
		grid-row-end: 1;
		padding: 0;
		padding-top: 30px;
		padding-bottom: 53px;
	}

	.slider__item--login {
  	display: block;
  	grid-column-start: 2;
  	grid-column-end: -1;
  	grid-row-start: 1;
  	grid-row-end: -1;
  	display: grid;
  }

  .slider__item--submit {
  	grid-column-start: 2;
  	grid-column-end: -1;
  	grid-row-start: 1;
  	grid-row-end: -1;
  }

  .slider__item--closed {
  	display: none;
  }
}

@media (min-width: 1366px) {
	.slider__item {
		padding-right: 258px;
		padding-left: 94px;
		padding-top: 48px;
		padding-bottom: 53px;
	}

	.slider__item--greeting {
		padding: 0;
		padding-top: 45px;
	}

  .slider__item--submit {
  	padding-bottom: 43px;
  }

  .slider__item--submit .slider__item-title {
  	margin-bottom: 22px;
  }
}

@media (min-width: 1920px) {
	.slider__list {
		grid-template-columns: 651px auto;
	}

	.slider__item {
		padding-top: 102px;
		padding-left: 125px;
		padding-right: 360px;
		padding-bottom: 207px;
	}
  
  .slider__item--greeting {
  	padding: 0;
	  padding-top: 102px;
	}

	.slider__item--submit {
		padding-bottom: 128px;
	}

	.slider__item--submit .slider__item-title {
  	margin-bottom: 45px;
  }
}

