.social-block {
	grid-column-start: 4;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: 1;
	justify-self: end;
	margin-top: 5px;
}

.social-block__list {
	@include list-style;
	display: flex;
}

.social-block__item {
	margin-right: 8px;

	&:last-of-type {
		margin-right: 0;
	}
}

.social-block__link {
	display: block;
	font-size: 0;
	background-color: #f8fafd;
	border-radius: 3px;
	background-repeat: no-repeat;
	background-position: center;
}

.social-block__link--insta {
	width: 35px;
	height: 35px;
	border: 1px solid #cf446f;
	background-image: url("../img/instagram-logo.svg");
	background-size: 15px 15px;
}
.social-block__link--vk {
	width: 34px;
	height: 35px;
	border: 1px solid #5b80b4;
	background-image: url("../img/vk-social-network-logo.svg");
	background-size: 17px 10px;
}

@media (min-width: 1920px) {
	
}
